*~
.*
!/.gitignore
**/test_descriptions_raw.zip
**/node_modules
**/target
venv
**/*.pdf
**/*.png
**/__pycache__
data/embedded
data/scraped
data/scrapped
data/filtered
data/tokenized*
**/package-lock.json
data/scraper/parser/synthesized_tests/
**/*.bin
**/*epoch*
**/samples
myenv
models/metrics*.csv